* {
    box-sizing: border-box;
    font-family: Rocks;
}

html, body{
    background-color: #141429;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@font-face {
    font-family: Old Cave;
    src: url(assets/Old\ Cave.otf);
}

@font-face {
    font-family: Rocks;
    src: url(assets/Rocks.ttf);
}

.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
    min-height: 650px;
    background-color: #FFE2AD;
    min-height: 100px;
}

.game h1{
    font-family: Old Cave;
    text-transform: uppercase;
    font-size: 40pt;
    margin: 10px;
}

h2, p {
    margin: 0;
}

h2 {
    font-size: 30pt;
}

p {
    font-size: 24pt;
    width: 75%;
}

img {
    position: relative;
    width: 500px;
    margin: 10px 0px;
}

.boutons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

button {
    background-color: #709775;
    font-size: 24pt;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
}

button:hover {
    background-color: #7DA182;
}

.checkbox label {
    font-size: 30px;
}

.checkbox {
    position: absolute;
    left: 30%;
    bottom: 9%;
}

/*https://coolors.co/000000-141429-ffe2ad-709775-7da182*/